:root {
  --primary-color: #4c516d;
  --primary-color-light: rgba(76, 81, 109, 0.8);
  --secondary-color: #bf94e4;
  --secondary-color-light2: rgba(191, 148, 228, 0.2);
  --secondary-color-light4: rgba(191, 148, 228, 0.4);
  --white-color-light4: rgba(255, 255, 255, 0.4);
  --light-color: #a4f4f9;
  --text-color: #e8ccd7;
  --text-color-yellow-light: #f1c40f99;
  // --box-shadow for card img
  --box-shadow-card-img: -1px 1px 0 0px rgba(150, 120, 182, 0.8),
    -2px 2px 0 0px rgba(150, 120, 182, 0.7),
    -3px 3px 0 0px rgba(150, 120, 182, 0.6),
    -4px 4px 0 0px rgba(150, 120, 182, 0.5),
    -5px 5px 0 0px rgba(150, 120, 182, 0.4),
    -6px 6px 0 0px rgba(150, 120, 182, 0.35),
    -7px 7px 0 0px rgba(150, 120, 182, 0.25),
    -8px 8px 0 0px rgba(150, 120, 182, 0.2);
}
