.popup__poster__img {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  .popup__wrapper__img {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    border: 3px solid var(--primary-color);
    animation: fadeUpPosterImg 1s ease-in-out forwards;

    @keyframes fadeUpPosterImg {
      from {
        transform: translateY(-200px);
      }
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }
  .close__img {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    right: 15px;
    top: 15px;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    animation: fadeUpClosePosterImg 2s ease-in-out forwards 1s;

    @keyframes fadeUpClosePosterImg {
      from {
        opacity: 0;
      }
      to {
        visibility: visible;
        opacity: 1;
      }
    }

    &:hover {
      color: var(--secondary-color);
      text-decoration: none;
      text-shadow: 0 0 3px var(--third-color);
      background: var(--primary-color-light);
      transition: all 0.3s ease-in-out;
    }
    &:focus {
      color: var(--secondary-color);
      text-decoration: none;
      text-shadow: 0 0 4px var(--third-color);
      background: var(--primary-color-light);
      transition: all 0.3s ease-in-out;
    }
  }
}
