.back {
  .btn {
    &:hover {
      color: var(--primary-color);
      border-radius: 15px;
      box-shadow: 0 0 5px var(--secondary-color);
      border: 1px solid var(--primary-color);
    }
  }
}
.details__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
  img {
    width: 400px;
    height: 100%;
    margin-right: 60px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 5px var(--light-color);
  }
  p {
    margin: 20px 0;
  }
  .btn {
    margin-top: 20px;
    &:hover {
      color: var(--primary-color);
      border-radius: 15px;
      box-shadow: 0 0 5px var(--secondary-color);
      border: 1px solid var(--primary-color);
    }
  }
}
.details__bottom {
  h2 {
    position: relative;
    width: fit-content;
    margin: 20px auto;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
    // === animation linear gradient
    --bg-size: 400%;
    --color-one: #5a2a80;
    --color-two: #a4f4f9;
    --color-three: #bf94e4;
    font-weight: 700;
    background: linear-gradient(
        135deg,
        var(--color-one),
        var(--color-two),
        var(--color-three),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateBgColor 13s linear infinite;
    -webkit-animation: animateBgColor 13s linear infinite;

    @keyframes animateBgColor {
      to {
        background-position: var(--bg-size) 0;
      }
    }

    &::before {
      @include lineHeading;
      top: 0;
    }
    &::after {
      @include lineHeading;
      bottom: 0;
    }
  }
  ul {
    li {
      margin: 15px 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
      border-color: rgba(255, 255, 255, 0.1);
    }
  }
}
