.popular__container {
  h2 {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    // === animation linear gradient
    --bg-size: 400%;
    --color-one: #5a2a80;
    --color-two: #e4ffff;
    --color-three: #bf94e4;
    font-weight: 700;
    background: linear-gradient(
        135deg,
        var(--color-one),
        var(--color-two),
        var(--color-three),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateBgColor 13s linear infinite;
    -webkit-animation: animateBgColor 13s linear infinite;

    @keyframes animateBgColor {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
  .card {
    // background: #04376b;
    background: #9678b6;
    padding: 3px;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
    img {
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .card-body {
      padding: 10px;
      font-size: 20px;
      .card-title {
        color: var(--text-color);
        text-shadow: 0 0 1px var(--light-color);
      }
      .card-text {
        .text-muted {
          color: var(--primary-color-light);
          span {
            color: var(--light-color);
          }
        }
      }
    }

    &:hover {
      transform: translate(3px, -5px); //new
      background: #7851a9;
      box-shadow: var(--box-shadow-card-img);
      transition: all 0.4s ease-in-out;
    }
  }
}
