.popular__container {
  h2 {
    position: relative;
    width: fit-content;
    font-size: 32px;
    margin: 0 auto 40px;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
    // === animation linear gradient
    --bg-size: 400%;
    --color-one: #5a2a80;
    --color-two: #e4ffff;
    --color-three: #bf94e4;
    font-weight: 700;
    background: linear-gradient(
        135deg,
        var(--color-one),
        var(--color-two),
        var(--color-three),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateBgColor 13s linear infinite;
    -webkit-animation: animateBgColor 13s linear infinite;

    @keyframes animateBgColor {
      to {
        background-position: var(--bg-size) 0;
      }
    }

    &::before {
      @include lineHeading;
      top: 0;
    }
    &::after {
      @include lineHeading;
      bottom: 0;
    }
  }
  .card {
    position: relative;
    background: #9678b6;
    padding: 2px;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    .fa-regular {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 32px;
      opacity: 0.7;
      z-index: 100;
      cursor: pointer;
      text-shadow: 0 0 5px var(--primary-color);
      transition: all 0.3s ease-in-out;
      &::after {
        content: "Watch Trailer";
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        padding: 8px;
        width: 155px;
        font-size: 12px;
        border: 1px solid var(--light-color);
        border-radius: 15px;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        overflow: hidden;
        text-align: center;
        opacity: 0;
      }
      &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        text-shadow: 0 0 5px var(--light-color);
        &::after {
          opacity: 1;
          letter-spacing: 2px;
          text-align: center;
          width: 155px;
          text-shadow: 0 0 5px var(--primary-color);
          box-shadow: 0 0 10px var(--secondary-color);
          background-color: var(--secondary-color-light2);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .card-vote {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      font-size: 12px;
      font-weight: 600;
      color: var(--primary-color-light);
      background-color: var(--secondary-color);
      border: 2px solid var(--primary-color);
      border-radius: 50%;
      box-shadow: 0 0 4px var(--secondary-color);
    }
    img {
      width: 100%;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    .card-body {
      padding: 10px;
      font-size: 20px;
      .card-title {
        color: var(--text-color);
        text-shadow: 0 0 2px var(--light-color);
        a {
          border-bottom: 2px solid transparent;
          transition: all 0.4s ease-in-out;
          &:hover {
            border-bottom: 2px solid var(--secondary-color);
            text-shadow: 0 0 4px var(--text-color);
            transition: all 0.4s ease-in-out;
          }
        }
      }
      .card-text {
        margin-top: 3px;
        .text-muted {
          color: var(--primary-color-light);
          text-shadow: -1px -1px 1px #682860;
          span {
            color: var(--text-color);
            text-shadow: 0 0 2px var(--light-color);
          }
        }
      }
    }

    &:hover {
      transform: translate(3px, -5px); //new
      background: #7851a9;
      box-shadow: var(--box-shadow-card-img);
      transition: all 0.4s ease-in-out;
    }
  }
}
