.search {
  padding: 60px;
  margin-bottom: 40px;
  .search__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      margin-bottom: 20px;
    }
    .search__form {
      width: 100%;
      max-width: 600px;
      .search__switcher {
        display: flex;
        justify-content: center;
        input[type="radio"] {
          margin-bottom: 20px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
          font: inherit;
          color: var(--secondary-color);
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid var(--secondary-color);
          border-radius: 50%;
          display: grid;
          // grid-template-columns: 1em auto;
          place-content: center;
          &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 220ms transform ease-in-out;
            box-shadow: inset 1rem 1rem var(--secondary-color);
          }
          &:checked::before {
            transform: scale(1);
          }
          &:focus {
            outline: max(1px, 0.15rem) solid var(--secondary-color);
            outline-offset: max(1px, 0.15rem);
          }
        }
        label {
          margin-left: 5px;
          margin-right: 25px;
        }
      }
      .search__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        input[type="text"] {
          flex: 6;
          width: 100%;
          height: 50px;
          color: #fff;
          padding: 10px;
          margin-right: 10px;
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid var(--light-color);
          background: transparent;
          transition: all 0.4s ease-in-out;
          &::placeholder {
            font-size: 16px;
            color: rgba(254, 255, 255, 0.4);
          }
          &:focus {
            border: 1px solid var(--secondary-color);
            box-shadow: 0 0 5px var(--secondary-color);
            outline: none;
            transition: all 0.4s ease-in-out;
          }
        }
        button {
          flex: 1;
          display: block;
          width: 100%;
          height: 50px;
          padding: 10px;
          color: var(--primary-color);
          cursor: pointer;
          border-radius: 5px;
          background: var(--secondary-color);
          &:hover {
            color: var(--light-color);
            background: transparent;
            box-shadow: 0 0 5px var(--secondary-color);
          }
        }
      }
    }
  }
}
