@media screen and (max-width: 512px) {
  .header__main {
    .header__container {
      padding: 0 20px;
      nav {
        ul {
          li {
            margin-left: 10px;
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .current__content {
    padding: 40px;
    h2 {
      font-size: 22px;
      margin: 0 0 30px;
    }
  }
  .search {
    padding: 40px 20px;
    margin-bottom: 0;
    .search__container {
      .search__form {
        .search__switcher {
          input[type="radio"] {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .content__details {
    .details__top {
      flex-direction: column;
      gap: 10px;
      margin: 30px 0 30px;
      div {
        img {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
  .footer__main {
    .footer__container {
      .footer__logo {
        span {
          display: none;
        }
        .footer__logo_item {
          img {
            width: 50px;
          }
        }
      }
    }
  }
  .btn__top {
    right: 5px;
    bottom: 8px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header__main {
    .header__container {
      .header__logo {
        a {
          font-size: 20px;
          span {
            font-size: 28px;
          }
        }
      }
      nav {
        ul {
          li {
            margin-left: 10px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .footer__main {
    .footer__container {
      .footer__logo {
        span {
          font-size: 12px;
        }
        .footer__logo_item {
          img {
            width: 40px;
          }
        }
      }
      .social__links {
        font-size: 20px;
        a {
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (min-height: 1100px) {
  .footer__main {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
