@media screen and (max-width: 512px) {
  .header__main {
    .header__container {
      padding: 0 20px;
      .header__logo {
        &:hover {
          letter-spacing: 3px;
        }
      }
      nav {
        ul {
          li {
            margin-left: 10px;
            a {
              font-size: 18px;
              span {
                font-size: 26px;
              }
            }
          }
        }
      }
    }
  }
  .current__content {
    padding: 40px;
    h2 {
      font-size: 26px;
      margin: 0 auto 30px;
    }
  }
  .search {
    padding: 40px 20px;
    margin-bottom: 0;
    .search__container {
      .search__form {
        .search__switcher {
          width: fit-content;
          margin: 0 auto;
        }
        .search__flex {
          margin-top: 15px;
          .input__form {
            width: 80%;
          }
        }
      }
    }
  }
  // search result page
  .popular__container {
    .heading {
      margin: 0 auto 10px;
      font-size: 20px;
    }
    h2 {
      font-size: 26px;
    }
    .wrapper {
      flex-direction: column;
      align-items: normal;
      margin-bottom: 20px;
      #pagination__up {
        .pagination {
          margin-top: 0;
        }
        .mg_bottom20 {
          margin-bottom: 10px;
        }
      }
      .wrapper__sort__btn {
        justify-content: flex-end;
        .btn__sort__heading {
          font-size: 12px;
        }
        .btn_sort {
          font-size: 14px;
          padding: 0.2rem 0.6rem;
        }
      }
    }
  }
  .content__details {
    .details__top {
      flex-direction: column;
      gap: 10px;
      margin: 30px 0 30px;
      div {
        img {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    .details__bottom {
      .list__group {
        span {
          line-height: 1.75;
        }
      }
    }
  }
  .details__posters {
    padding: 20px 0;
    margin: 10px 20px;
  }
  .footer__main {
    .footer__container {
      .footer__logo {
        span {
          display: none;
        }
        .footer__logo_item {
          img {
            width: 50px;
          }
        }
      }
    }
  }
  .btn__top {
    right: 5px;
    bottom: 8px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header__main {
    .header__container {
      .header__logo {
        a {
          font-size: 20px;
          span {
            font-size: 28px;
          }
        }
        &:hover {
          letter-spacing: 2px;
        }
      }
      nav {
        ul {
          li {
            margin-left: 10px;
            a {
              font-size: 13px;
              span {
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
  .current__content {
    padding: 30px;
    h2 {
      margin: 0 auto 20px;
    }
  }
  .popular__container {
    h2 {
      margin-top: 0 !important;
      font-size: 23px;
      margin: 0 auto 30px;
    }
  }
  .footer__main {
    .footer__container {
      .footer__logo {
        span {
          font-size: 12px;
        }
        .footer__logo_item {
          img {
            width: 40px;
          }
        }
      }
      .social__links {
        font-size: 20px;
        a {
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (min-height: 1100px) {
  .footer__main {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
