@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

// Imported componets styles
@import "./abstracts/mixins";
@import "./abstracts/colors";
@import "./components/header";
@import "./components/current-content";
@import "./components/search";
@import "./components/search-result";
@import "./components/popular-content";
@import "./components/details-content";
@import "./components/details-posters";
@import "./components/footer";
@import "./components/spinner";
@import "./components/modal-error-msg";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  // background: var(--primary-color);
  overflow-x: hidden;
  @include backgroundImg;
}

// default styles
ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-primary {
  color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.active {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 500;
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn__pulse {
  position: relative;
  &:hover {
    &::before {
      content: " ";
      border-radius: 5px;
      border: 3px solid var(--text-color);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 1s ease;
      animation: grow 1s infinite;

      @keyframes grow {
        from {
          transform: scale(0, 0);
          opacity: 1;
        }
        to {
          transform: scale(1.3, 1.8);
          opacity: 0;
        }
      }
    }
  }
}

.btn__animated {
  animation: moveInBottom 2s ease-out 0.75s;
  animation-fill-mode: backwards;

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 0 5px var(--secondary-color);
}

.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: #fff;
  box-shadow: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}

// === Modificators
.d_none {
  display: none !important;
}
.d_flex {
  display: flex !important;
}
.grid_elm_center {
  place-self: center;
  width: 280px;
}
.grid_pdg_h_80 {
  padding: 0 148px;
}
.grid_pdg_h_295 {
  padding: 0 295px;
}
.mg_top {
  margin-top: 40px !important;
}
.mg_btm20 {
  margin-bottom: 20px;
}
.mg_btm4 {
  margin-bottom: 4px;
}
.mg_btm15 {
  margin-bottom: 15px;
}
.txt_sdw {
  color: var(--secondary-color);
  text-shadow: 0 0 3px var(--secondary-color), 0 0 6px var(--light-color);
}
.font_12 {
  font-size: 12px;
}
.opacity_up {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  animation: showContent 3s ease-in-out forwards;

  @keyframes showContent {
    to {
      opacity: 1;
      visibility: visible;
    }
  }
}
// === For details-content page
.bg_secondary_light {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
  background-color: var(--secondary-color-light2);
}

// === Translate social links last child modal message when hovering
.translateX {
  transform: translateX(-80%) !important;
}

// === Dark background
.bg_dark {
  background: var(--primary-color);
}

// === Pagination
.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  .page__counter {
    margin-left: 20px;
  }
}

// === Alert message
// Flex display style for Alert message
.alert-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .back {
    display: none;
  }
}

.alert {
  background: red;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-success {
  background: green;
}

.alert-error {
  background: red;
}

// === Button to top page
.btn__top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-color-light);
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--secondary-color);
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    color: #fff;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 3px 1px var(--secondary-color);
    transition: all 0.4s ease-in-out;
  }
}
// === link media queries
@import "./screen/media";
